h1 {
  width: 40%;
  background: rgb(176, 176, 211);
  color: rgb(9, 9, 9);
  padding: 12px;
  margin: 12px auto;
  text-align: center;
}

.borderdiv {
  width: 50%;
  padding: 15px 30px;
  margin: 20px auto;
  border: 2px solid rgb(17, 18, 17);
}

p {
  color: red;
  text-align: center;
  border-bottom: 1px dotted red;
  font-size: 20px;
}

li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  line-height: 1.5;
}
